# Directories
env/*
*.egg-info/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__/
analysis/regions/*
Results_Optimization/
Archiv/


# File types to ignore
*.ipynb
*.aux.xml
*.bat
*.ini
*.tmp

# Extras
.vscode/settings.json
.vscode/launch.json
.coverage
.pytest
.cache/v/cache/lastfailed
.pytest_cache/*
ga_statistics.csv
